<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inicio</title>
	<link rel="stylesheet" type="text/css" href="css/reset.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link rel="stylesheet" type="text/css" href="css/moblie.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap" rel="stylesheet">
</head>
<body>
	<header>
		<div class="caixa-logo">
			<img src="fotos/logo.jpeg" class="logo">
			<div class="mobile">
				<div class="desktop-hide">
					<nav class="menu">
						<input type="checkbox" id="chec">
						<label for="chec" class="links">Menu</label>				
						<nav class="menu-rolativo">
							<ul>
								<li>
									<a href="index.html" class="opcao"><img src="fotos/inicio.png" class="icones">Incio</a>
								</li>
								<li>
									<a href="https://wa.me/message/PGLPFVINA4NPA1" class="opcao"><img src="fotos/whatsapp.png" class="icones">Contato</a>
								</li>
								<li>
									<a href="https://www.instagram.com/makeeup.store_/" class="opcao"><img src="fotos/instagram.png" class="icones">Instragram</a>
								</li>
								<li>
									<a href="carrinho.html" class="opcao"><img src="fotos/carrinho.png" class="icones">Carrinho de compras</a>
								</li>
							</ul>
						</nav>
					</nav>
				</div>
			</div>
			<div class="mobile-hide">
				<nav class="menu">
					<ul>
						<li>
							<a href="index.html" class="opcao"><img src="fotos/inicio.png" class="icones">
								Incio<a/>
						</li>
						<li>
							<a href="https://wa.me/message/PGLPFVINA4NPA1" class="opcao"><img src="fotos/whatsapp.png" class="icones">Contato</a>
						</li>
						<li>
							<a href="https://www.instagram.com/makeeup.store_/" class="opcao"><img src="fotos/instagram.png" class="icones">Instragram</a>
						</li>
						<li>
							<a href="carrinho.html" class="opcao"><img src="fotos/carrinho.png" class="icones">Carrinho de compras</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</header>

	<main>
		<h1>Pagamento com Suscesso</h1>
		<p> As informoçoes do pagmento</p>
	</main>

	<footer>
		<img src="imagens/icones/logo.png" id="logo-footer">
		<p class="copyright">&copy; Copyright Makeup - 2022</p>
		<p class="copyright">creditos as imagens</p>
		<a href="https://www.flaticon.com/br/icones-gratis/fruta" title="fruta ícones">Fruta ícones criados por Smashicons - Flaticon</a>
		<a href="https://www.flaticon.com/br/icones-gratis/whatsapp" title="whatsapp ícones">Whatsapp ícones criados por riajulislam - Flaticon</a>
		<a href="https://www.flaticon.com/br/icones-gratis/carrinho-de-compras" title="carrinho de compras ícones">Carrinho de compras ícones criados por photo3idea_studio - Flaticon</a>
		<a href="https://www.flaticon.com/br/icones-gratis/do-utilizador" title="do utilizador ícones">Do utilizador ícones criados por Freepik - Flaticon</a>
	</footer>
</body>
</html>